body{  
  opacity: 0;
  transition: opacity .5s;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("https://wallpaperwaifu.com/wp-content/uploads/2019/11/cozy-autumn-rain-thumb-1500x844.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  top:0;  
  left:0;

}

h1, h2{
    color: white;
    text-shadow: 1px 1px #000000; 
    opacity: 1;
    font-family: 'Sono', sans-serif;
}
button{
  background: transparent;
  border-radius: 5px;
  backdrop-filter: blur(8px);
}

@keyframes bob-on-hover {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes bob-on-hover-float {
  100% {
    transform: translateY(-8px);
  }
}
.bob-on-hover {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
  animation-name: bob-on-hover-float, bob-on-hover;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}
